.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-content {
  margin: 24px 16px 0;
}

.ant-layout-footer {
  text-align: center;
}